<!--首页列表-->
{% extends "./base.html" %}
{% block title %}
    {% if tag %}
    标签页：{{ tag.name }}
    {% elif category %}
    分类页：{{ category.name }}
    {% endif %}
{% endblock %}

{% block main %}
    <ul>
        {% for post in post_list %}
        <li>
            <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
            <div>
                <span>作者：{{ post.owner.username }}</span>
                <span>分类：{{ post.category.name }}</span>
            </div>
            <p>{{ post.desc }}</p> <!--降序排序-->
        </li>
        {% endfor %}
    </ul>
    {% if page_obj %}

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
        <!--当前页面与总页面-->
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}

        {% endif %}

{% endblock %}
<!--先判断post是否存在，如果存在，展示分类，作者，文章内容-->
<!--要先判断post存在与否，避免获取不到post报错-->